*{
    margin: 0;
    padding: 0;
}
#image{
    background-image: url("medi.jpg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
#anc{
    /* display: flex; */
    justify-content: space-evenly;
    text-decoration: none;
    padding-top: 30px;
    justify-items: center;

}
#anc a{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
#san{
    margin-left: 100px;
    font-size: 50px;

}
#cont{
    height: 50px;
    width: 100px;
    background-color: yellowgreen;
    color: white;
    font-weight: bolder;
}
#an{
    margin-left: 600px;
    word-spacing: 50px;
}

#h{
    margin-top: 200px;
    color: antiquewhite;
    margin-left: 40%;
    font-size: 60px;
}
#h1{
    margin-top: 20px;
    color: antiquewhite;
    margin-left: 33%;
    font-size: 60px;
}
#txt h3{
    margin-top: 20px;
    color: antiquewhite;
    margin-left: 30%;
    
}
#icon{
    margin-left: 40%;
    margin-top: 30px;
    font-size: 50px;
    word-spacing: 40px;
    
   
}
#icon i{
    background-color: rgb(59, 235, 43);
    border-radius: 40%;
}
#box{
    display: flex;
    margin-top: 350px;
    justify-content: space-evenly;
}
.box1{
    height: 300px;
    width: 300px;
    background-color: wheat;
    
    transition: width 2s, height 2s, transform 2s;


}
.box1:hover{
    /* transform: skew(30); */
    background-color: aqua;
    margin-top: -20px;
}
#hello{
    margin-top: 100px;
    margin-left: 80px;

}
#box i{
    font-size: 60px;
    margin-top: 70px;
    margin-left: 110px;
}
.h3{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}
.p1{
margin-top: 10px;
font-size: 17px;
}
.btn1{
    height: 35px;
    width: 80px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: orangered;
    border: none;
}
.btn1:hover{
    background-color: transparent;
    border: 2px solid red;
}
.btn2:hover{
    background-color: transparent;
    border: 2px solid red;
}
.btn3:hover{
    background-color: transparent;
    border: 2px solid red;
}


#box2{
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
}
.box2:hover{
    transform: skew(30);
    background-color: aqua;
    margin-top: -20px;
    
}
.box3{
    height: 300px;
    width: 300px;
    background-color: wheat;
    transition: width 2s, height 2s, transform 2s;
    

}
.box3:hover{
    transform: skew(30);
    margin-top: -20px;
    
    border: 2px solid red;
    background-color: aqua;
}

#hello1{
    margin-top: 100px;
    margin-left: 80px;

}
#box2 i{
    font-size: 60px;
    margin-top: 70px;
    margin-left: 110px;
}

.h32{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bolder;
}
.p12{
margin-top: 10px;
font-size: 17px;
}
.btn2{
    height: 35px;
    width: 80px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: orangered;
    border: none;
}

#lastdiv{
    height: 400px;
    width: 400px;
    background-color: bisque;
    margin-top: 100px;
    margin-left: 36%;
}

#footer1{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: rgb(41, 32, 32);
    flex-wrap: wrap;
    margin-top: 30px;
    color: white;
    justify-content: space-evenly;
    
    
    
}
.f1{
    height: 100px;
    width: 100px;
    margin-top: 50px;
    
    
    
}
#fh1{
    margin-top: 80px;
}
#ft{
    background-color:  rgb(41, 32, 32);
    color: white;
    text-align: center;
    font-size: 16px;
    height: 25px;
    width: 100%;

}
#lastdiv img{
    height: 200px;
    width: 200px;
    margin-left: 90px;
    margin-top: 20px;
    
}

#ordi{
    margin-left: 140px;
    padding-top: 10px;
}
#lastdiv h3{
    margin-top: 10px;
}
#dr{
    margin-top: 10px;
    margin-left: 80px;
}
#lastdiv button{
    height: 40px;
    width: 80px;
    margin-left: 130px;
    font-size: 15px;
    font-weight: bolder;
}
#ordi{
    margin-left: 110px;
}